/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --main-font: "Roboto", 'Open Sans', sans-serif;
  --main-font-size: 90%;
  --main-dark-color: #8B7B8B;
  --second-dark-color: #363636;
  --main-page-color: #F8F8FF;
  --first-details-color: purple;
  --second-details-color: violet;
  --third-details-color: #CDB5CD
} 

/* Header styles///////////////////////////////////////////////////////////////////////////////////////////////////// */

.Header {
  width: 100%;
  background-color: var(--main-dark-color);
  height: 40px;
  position: fixed; 
  top: 0; 
  left: 0; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 90;
}

.Header-Main-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 180px;
}

.Header-Right-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  justify-content: flex-end;
}

.Header-Buttons-Container , .Header-Links-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.Header-Link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--first-details-color);
  overflow: hidden;
}

.Header-Button {
  width: 40px;
  height: 100%;
  border: 1.5px solid var(--second-dark-color);
  background-color: var(--main-page-color);
  color: var(--first-details-color);
  font-weight: bold;
  cursor: pointer;
}

.Header-Menu-Button , .Header-Menu-Hide-Button {
  color: var(--second-dark-color);
  height: 20px;
  cursor: pointer;
}

.Header-Menu-Button:hover , .Header-Link:hover , .Header-Menu-Hide-Button:hover {
  color: var(--second-details-color);
}

.Header-Button:active, .Header-Button:hover {
  background-color: var(--first-details-color);
  color: var(--second-details-color);
}

/* Header styles///////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Nav styles//////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Nav {
  padding: 40px;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-dark-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 80;
  display: none;
  /* margin-left: 100%; */
}

.Visible-Nav {
  display: block;
}

.Nav-Link {
  height: 60px;
  width: 100%;
  /* background-color: pink; */
  border-bottom: 0.3px solid var(--second-details-color);
  text-decoration: none;
  font-size: 100%;
  color: var(--main-page-color);
  display: flex;
  align-items: center;
  padding: 20px 0 0 5px
}

.Nav-Link:hover, .Nav-Desctop-Link:hover {
  background-color: var(--second-details-color);
}

.Desctop-Nav {
  display: none;
}


@media screen and (min-width: 950px){
  .Header {
    font-size: 150%;
    height: 60px;
  }
  .Header-Buttons-Container {
    height: 30px;
  }
  .Header-Email-Icon {
    font-size: 150%!important;
  }
  .Header-Menu-Button {
    visibility: hidden;
  }
  .Header-Main-Container {
    width: 250px;
  }
  .Header-Links-Container {
    width: 140px;
    justify-content: space-between;
  }
  .Header-Right-Container {
    justify-content: flex-end;
  }
  .Desctop-Nav {
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    width: 550px;
  }
  .Nav-Desctop-Link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 100%;
    color: var(--main-page-color);
  }
  /* .Header, .Header-Main-Container {
    height: 80px;
  }
  .Header-Buttons-Container , .Header-Links-Container {
    height: 30px;
  } */
}

/* Nav styles//////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Main section styles/////////////////////////////////////////////////////////////////////////////////////////////// */

.Main-Section {
  width: 100%;
  background-color: var(--main-page-color);
}

/* Main section styles/////////////////////////////////////////////////////////////////////////////////////////////// */

/* About section styles/////////////////////////////////////////////////////////////////////////////////////////////// */

.About {
  padding-top: 40px;
  
  /* flex-direction: column; */
}

.About-Top-Container {
  display: flex;
  min-height: 50vh;
}

.About-Sidebar {
  /* background-color: var(--second-dark-color); */
  width: 320px;
  /* height: 300px; */
  /* height: 40%; */
  margin: 5% 0 5% 5%;
  padding: 5%;
  border: 2px solid var(--first-details-color);
  display: flex;
  flex-direction: column;
  gap: 9px
}

.About-Main-Page {
  background-color: var(--third-details-color);
  /* height: 315px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 5px;
}

.About-Name {
  font-size: 15px;
}

.About-Position {
  font-size: 13px;
  overflow-wrap: wrap;
}


.About-Sidebar-Text {
  font-size: 60%;
  font-weight: 200%;
  text-decoration: none;
  color: var(--second-dark-color)
}

/* About section styles/////////////////////////////////////////////////////////////////////////////////////////////// */

.Footer {
  width: 100%;
  background-color: var(--main-dark-color);
  height: 200px;
}